coverage

# Dependency directories
node_modules/

# Yarn Integrity file
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# dotenv environment variables file
.env
.env.test
